.Button {
  border: none;
  background-color: rgb(164, 45, 45);
  color: white;
  /*border-radius: 100px;*/
  padding: 4px 10px;
  min-width: 75px;
  margin: 10px;
  margin-top: 20px;
}

.Button:hover {
  cursor: pointer;
  background-color: whitesmoke;
  color: rgb(164, 45, 45);
}