.NavBar {
    background-color: #ffffff;
    border: 1px solid #dadadf;
}

.NavBrand {
    font-family: 'Bricolage Grotesque' !important;
    font-weight: bolder !important;
    font-size: x-large !important;
    color: rgb(164, 45, 45) !important;
}

.NavLink {
    font-family: 'Bricolage Grotesque';
    font-weight: bolder;
    padding: 5px;
    color: rgb(164, 45, 45);
}

.Active {
    color: lightgrey;
}

a:hover {
    color: lightgrey;
    text-decoration: none;
}