.Owner {
  font-weight: bold;
  margin-right: 8px;
}

.Date {}

.Title {
  font-family: 'Bricolage Grotesque';
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}


.Content {
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.Footer {
  display: flex;
  justify-content: space-evenly;
}

.Background {
  background-color: #f29fa866;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.Message {
  background-color: lightyellow;
  font-weight: bold;
}